/* Определение переменных для светлой и темной тем */
:root {
  --background-light: #f4f4f4;
  --background-dark: #2c3e50;
  --text-light: #333;
  --text-dark: #ecf0f1;
  --button-bg-light: #3498db;
  --button-bg-dark: #2980b9;
  --button-hover-light: #2980b9;
  --button-hover-dark: #3498db;
}

/* Стили для светлой темы */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.language-selector {
  margin-top: 20px;
  font-size: 18px;
}

button {
  background-color: var(--button-bg-light);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-light);
}

/* Стили для темной темы */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }

  .container {
    background-color: #34495e;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
  }

  h1 {
    color: #ecf0f1;
  }

  p {
    color: #bdc3c7;
  }

  button {
    background-color: var(--button-bg-dark);
  }

  button:hover {
    background-color: var(--button-hover-dark);
  }
}
